/* MadCap Table Style: */

/*<meta Version="9" />*/

mcTableStyle
{
	name: TW_TableWide;
	margin-left: 0in;
	margin-right: 0in;
	margin-top: 0pt;
	margin-bottom: 12pt;
	border-spacing-x: 0;
	border-spacing-y: 0;
	border-collapse: collapse;
	border-left-color: #000000;
	border-right-color: #000000;
	border-top-color: #000000;
	border-bottom-color: #000000;
	border-top-style: solid;
	border-top-width: 2pt;
	border-bottom-style: solid;
	border-bottom-width: 2pt;
	border-right-style: none;
	border-left-style: none;
	cell-padding-top: 0pt;
	cell-padding-left: 6pt;
	cell-padding-right: 6pt;
	cell-padding-bottom: 4pt;
	max-id: 4;
}

mcTableColumnStyle
{
	separator-style: solid;
	separator-width: 1px;
	separator-color: #00607f;
	ruler-style: solid;
	ruler-width: 1px;
	ruler-color: #00607f;
	name: Column1;
	id: 0;
}

mcTableHeadStyle
{
	name: Header1;
	id: 3;
}

mcTableBodyStyle
{
	span: 2;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #00607f;
	ruler-style: solid;
	ruler-width: 1px;
	ruler-color: #00607f;
	name: Body1;
	id: 1;
}

mcTableBodyStyle
{
	span: 2;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #00607f;
	ruler-style: solid;
	ruler-width: 1px;
	ruler-color: #00607f;
	name: Body2;
	id: 2;
}

mcTableFootStyle
{
	name: Footer1;
	id: 4;
}


/* Cell Styles: */
 
.TableStyle-TW_TableWide
{
	border-collapse: collapse;
	border-left-style: none;
	border-left-color: #000000;
	border-right-style: none;
	border-right-color: #000000;
	border-top-style: solid;
	border-top-color: #000000;
	border-top-width: 2pt;
	border-bottom-style: solid;
	border-bottom-color: #000000;
	border-bottom-width: 2pt;
	margin-left: 0in;
	margin-right: 0in;
	margin-top: 0pt;
	margin-bottom: 12pt;
	border-spacing: 0px 0px;
}

.TableStyle-TW_TableWide-Column-Column1
{
	
}

.TableStyle-TW_TableWide-Head-Header1
{
	
}

.TableStyle-TW_TableWide-HeadI-Column1-Header1
{
	padding-left: 6pt;
	padding-right: 6pt;
	padding-top: 0pt;
	padding-bottom: 4pt;
	border-right-width: 1px;
	border-right-color: #00607f;
	border-right-style: solid;
}

.TableStyle-TW_TableWide-HeadI-Column1-Header1 p
{
	
}

.TableStyle-TW_TableWide-HeadE-Column1-Header1
{
	padding-left: 6pt;
	padding-right: 6pt;
	padding-top: 0pt;
	padding-bottom: 4pt;
	border-right-width: 1px;
	border-right-color: #00607f;
	border-right-style: solid;
}

.TableStyle-TW_TableWide-HeadE-Column1-Header1 p
{
	
}

.TableStyle-TW_TableWide-HeadF-Column1-Header1
{
	padding-left: 6pt;
	padding-right: 6pt;
	padding-top: 0pt;
	padding-bottom: 4pt;
	border-right-width: 1px;
	border-right-color: #00607f;
	border-right-style: solid;
}

.TableStyle-TW_TableWide-HeadF-Column1-Header1 p
{
	
}

.TableStyle-TW_TableWide-HeadH-Column1-Header1
{
	padding-left: 6pt;
	padding-right: 6pt;
	padding-top: 0pt;
	padding-bottom: 4pt;
	border-right-width: 1px;
	border-right-color: #00607f;
	border-right-style: solid;
}

.TableStyle-TW_TableWide-HeadH-Column1-Header1 p
{
	
}

.TableStyle-TW_TableWide-HeadD-Column1-Header1
{
	padding-left: 6pt;
	padding-right: 6pt;
	padding-top: 0pt;
	padding-bottom: 4pt;
}

.TableStyle-TW_TableWide-HeadD-Column1-Header1 p
{
	
}

.TableStyle-TW_TableWide-HeadC-Column1-Header1
{
	padding-left: 6pt;
	padding-right: 6pt;
	padding-top: 0pt;
	padding-bottom: 4pt;
	border-right-width: 1px;
	border-right-color: #00607f;
	border-right-style: solid;
}

.TableStyle-TW_TableWide-HeadC-Column1-Header1 p
{
	
}

.TableStyle-TW_TableWide-HeadB-Column1-Header1
{
	padding-left: 6pt;
	padding-right: 6pt;
	padding-top: 0pt;
	padding-bottom: 4pt;
	border-right-width: 1px;
	border-right-color: #00607f;
	border-right-style: solid;
}

.TableStyle-TW_TableWide-HeadB-Column1-Header1 p
{
	
}

.TableStyle-TW_TableWide-HeadA-Column1-Header1
{
	padding-left: 6pt;
	padding-right: 6pt;
	padding-top: 0pt;
	padding-bottom: 4pt;
}

.TableStyle-TW_TableWide-HeadA-Column1-Header1 p
{
	
}

.TableStyle-TW_TableWide-HeadG-Column1-Header1
{
	padding-left: 6pt;
	padding-right: 6pt;
	padding-top: 0pt;
	padding-bottom: 4pt;
}

.TableStyle-TW_TableWide-HeadG-Column1-Header1 p
{
	
}

.TableStyle-TW_TableWide-Foot-Footer1
{
	
}

.TableStyle-TW_TableWide-FootI-Column1-Footer1
{
	padding-left: 6pt;
	padding-right: 6pt;
	padding-top: 0pt;
	padding-bottom: 4pt;
	border-right-width: 1px;
	border-right-color: #00607f;
	border-right-style: solid;
}

.TableStyle-TW_TableWide-FootI-Column1-Footer1 p
{
	
}

.TableStyle-TW_TableWide-FootE-Column1-Footer1
{
	padding-left: 6pt;
	padding-right: 6pt;
	padding-top: 0pt;
	padding-bottom: 4pt;
	border-right-width: 1px;
	border-right-color: #00607f;
	border-right-style: solid;
}

.TableStyle-TW_TableWide-FootE-Column1-Footer1 p
{
	
}

.TableStyle-TW_TableWide-FootF-Column1-Footer1
{
	padding-left: 6pt;
	padding-right: 6pt;
	padding-top: 0pt;
	padding-bottom: 4pt;
	border-right-width: 1px;
	border-right-color: #00607f;
	border-right-style: solid;
}

.TableStyle-TW_TableWide-FootF-Column1-Footer1 p
{
	
}

.TableStyle-TW_TableWide-FootH-Column1-Footer1
{
	padding-left: 6pt;
	padding-right: 6pt;
	padding-top: 0pt;
	padding-bottom: 4pt;
	border-right-width: 1px;
	border-right-color: #00607f;
	border-right-style: solid;
}

.TableStyle-TW_TableWide-FootH-Column1-Footer1 p
{
	
}

.TableStyle-TW_TableWide-FootD-Column1-Footer1
{
	padding-left: 6pt;
	padding-right: 6pt;
	padding-top: 0pt;
	padding-bottom: 4pt;
}

.TableStyle-TW_TableWide-FootD-Column1-Footer1 p
{
	
}

.TableStyle-TW_TableWide-FootC-Column1-Footer1
{
	padding-left: 6pt;
	padding-right: 6pt;
	padding-top: 0pt;
	padding-bottom: 4pt;
	border-right-width: 1px;
	border-right-color: #00607f;
	border-right-style: solid;
}

.TableStyle-TW_TableWide-FootC-Column1-Footer1 p
{
	
}

.TableStyle-TW_TableWide-FootB-Column1-Footer1
{
	padding-left: 6pt;
	padding-right: 6pt;
	padding-top: 0pt;
	padding-bottom: 4pt;
	border-right-width: 1px;
	border-right-color: #00607f;
	border-right-style: solid;
}

.TableStyle-TW_TableWide-FootB-Column1-Footer1 p
{
	
}

.TableStyle-TW_TableWide-FootA-Column1-Footer1
{
	padding-left: 6pt;
	padding-right: 6pt;
	padding-top: 0pt;
	padding-bottom: 4pt;
}

.TableStyle-TW_TableWide-FootA-Column1-Footer1 p
{
	
}

.TableStyle-TW_TableWide-FootG-Column1-Footer1
{
	padding-left: 6pt;
	padding-right: 6pt;
	padding-top: 0pt;
	padding-bottom: 4pt;
}

.TableStyle-TW_TableWide-FootG-Column1-Footer1 p
{
	
}

.TableStyle-TW_TableWide-Body-Body1
{
	
}

.TableStyle-TW_TableWide-BodyI-Column1-Body1
{
	padding-left: 6pt;
	padding-right: 6pt;
	padding-top: 0pt;
	padding-bottom: 4pt;
	border-bottom-width: 1px;
	border-bottom-color: #00607f;
	border-bottom-style: solid;
	border-right-width: 1px;
	border-right-color: #00607f;
	border-right-style: solid;
}

.TableStyle-TW_TableWide-BodyI-Column1-Body1 p
{
	
}

.TableStyle-TW_TableWide-BodyE-Column1-Body1
{
	padding-left: 6pt;
	padding-right: 6pt;
	padding-top: 0pt;
	padding-bottom: 4pt;
	border-bottom-width: 1px;
	border-bottom-color: #00607f;
	border-bottom-style: solid;
	border-right-width: 1px;
	border-right-color: #00607f;
	border-right-style: solid;
}

.TableStyle-TW_TableWide-BodyE-Column1-Body1 p
{
	
}

.TableStyle-TW_TableWide-BodyF-Column1-Body1
{
	padding-left: 6pt;
	padding-right: 6pt;
	padding-top: 0pt;
	padding-bottom: 4pt;
	border-bottom-width: 1px;
	border-bottom-color: #00607f;
	border-bottom-style: solid;
	border-right-width: 1px;
	border-right-color: #00607f;
	border-right-style: solid;
}

.TableStyle-TW_TableWide-BodyF-Column1-Body1 p
{
	
}

.TableStyle-TW_TableWide-BodyH-Column1-Body1
{
	padding-left: 6pt;
	padding-right: 6pt;
	padding-top: 0pt;
	padding-bottom: 4pt;
	border-bottom-width: 1px;
	border-bottom-color: #00607f;
	border-bottom-style: solid;
	border-right-width: 1px;
	border-right-color: #00607f;
	border-right-style: solid;
}

.TableStyle-TW_TableWide-BodyH-Column1-Body1 p
{
	
}

.TableStyle-TW_TableWide-BodyD-Column1-Body1
{
	padding-left: 6pt;
	padding-right: 6pt;
	padding-top: 0pt;
	padding-bottom: 4pt;
	border-bottom-width: 1px;
	border-bottom-color: #00607f;
	border-bottom-style: solid;
}

.TableStyle-TW_TableWide-BodyD-Column1-Body1 p
{
	
}

.TableStyle-TW_TableWide-BodyC-Column1-Body1
{
	padding-left: 6pt;
	padding-right: 6pt;
	padding-top: 0pt;
	padding-bottom: 4pt;
	border-right-width: 1px;
	border-right-color: #00607f;
	border-right-style: solid;
}

.TableStyle-TW_TableWide-BodyC-Column1-Body1 p
{
	
}

.TableStyle-TW_TableWide-BodyB-Column1-Body1
{
	padding-left: 6pt;
	padding-right: 6pt;
	padding-top: 0pt;
	padding-bottom: 4pt;
	border-right-width: 1px;
	border-right-color: #00607f;
	border-right-style: solid;
}

.TableStyle-TW_TableWide-BodyB-Column1-Body1 p
{
	
}

.TableStyle-TW_TableWide-BodyA-Column1-Body1
{
	padding-left: 6pt;
	padding-right: 6pt;
	padding-top: 0pt;
	padding-bottom: 4pt;
}

.TableStyle-TW_TableWide-BodyA-Column1-Body1 p
{
	
}

.TableStyle-TW_TableWide-BodyG-Column1-Body1
{
	padding-left: 6pt;
	padding-right: 6pt;
	padding-top: 0pt;
	padding-bottom: 4pt;
	border-bottom-width: 1px;
	border-bottom-color: #00607f;
	border-bottom-style: solid;
}

.TableStyle-TW_TableWide-BodyG-Column1-Body1 p
{
	
}

.TableStyle-TW_TableWide-Body-Body2
{
	
}

.TableStyle-TW_TableWide-BodyI-Column1-Body2
{
	padding-left: 6pt;
	padding-right: 6pt;
	padding-top: 0pt;
	padding-bottom: 4pt;
	border-bottom-width: 1px;
	border-bottom-color: #00607f;
	border-bottom-style: solid;
	border-right-width: 1px;
	border-right-color: #00607f;
	border-right-style: solid;
}

.TableStyle-TW_TableWide-BodyI-Column1-Body2 p
{
	
}

.TableStyle-TW_TableWide-BodyE-Column1-Body2
{
	padding-left: 6pt;
	padding-right: 6pt;
	padding-top: 0pt;
	padding-bottom: 4pt;
	border-bottom-width: 1px;
	border-bottom-color: #00607f;
	border-bottom-style: solid;
	border-right-width: 1px;
	border-right-color: #00607f;
	border-right-style: solid;
}

.TableStyle-TW_TableWide-BodyE-Column1-Body2 p
{
	
}

.TableStyle-TW_TableWide-BodyF-Column1-Body2
{
	padding-left: 6pt;
	padding-right: 6pt;
	padding-top: 0pt;
	padding-bottom: 4pt;
	border-bottom-width: 1px;
	border-bottom-color: #00607f;
	border-bottom-style: solid;
	border-right-width: 1px;
	border-right-color: #00607f;
	border-right-style: solid;
}

.TableStyle-TW_TableWide-BodyF-Column1-Body2 p
{
	
}

.TableStyle-TW_TableWide-BodyH-Column1-Body2
{
	padding-left: 6pt;
	padding-right: 6pt;
	padding-top: 0pt;
	padding-bottom: 4pt;
	border-bottom-width: 1px;
	border-bottom-color: #00607f;
	border-bottom-style: solid;
	border-right-width: 1px;
	border-right-color: #00607f;
	border-right-style: solid;
}

.TableStyle-TW_TableWide-BodyH-Column1-Body2 p
{
	
}

.TableStyle-TW_TableWide-BodyD-Column1-Body2
{
	padding-left: 6pt;
	padding-right: 6pt;
	padding-top: 0pt;
	padding-bottom: 4pt;
	border-bottom-width: 1px;
	border-bottom-color: #00607f;
	border-bottom-style: solid;
}

.TableStyle-TW_TableWide-BodyD-Column1-Body2 p
{
	
}

.TableStyle-TW_TableWide-BodyC-Column1-Body2
{
	padding-left: 6pt;
	padding-right: 6pt;
	padding-top: 0pt;
	padding-bottom: 4pt;
	border-right-width: 1px;
	border-right-color: #00607f;
	border-right-style: solid;
}

.TableStyle-TW_TableWide-BodyC-Column1-Body2 p
{
	
}

.TableStyle-TW_TableWide-BodyB-Column1-Body2
{
	padding-left: 6pt;
	padding-right: 6pt;
	padding-top: 0pt;
	padding-bottom: 4pt;
	border-right-width: 1px;
	border-right-color: #00607f;
	border-right-style: solid;
}

.TableStyle-TW_TableWide-BodyB-Column1-Body2 p
{
	
}

.TableStyle-TW_TableWide-BodyA-Column1-Body2
{
	padding-left: 6pt;
	padding-right: 6pt;
	padding-top: 0pt;
	padding-bottom: 4pt;
}

.TableStyle-TW_TableWide-BodyA-Column1-Body2 p
{
	
}

.TableStyle-TW_TableWide-BodyG-Column1-Body2
{
	padding-left: 6pt;
	padding-right: 6pt;
	padding-top: 0pt;
	padding-bottom: 4pt;
	border-bottom-width: 1px;
	border-bottom-color: #00607f;
	border-bottom-style: solid;
}

.TableStyle-TW_TableWide-BodyG-Column1-Body2 p
{
	
}


