/*<meta />*/

body
{
	color: #565656;
	font-family: Arial, Avenir, Myriad;
	font-size: 1em;
	line-height: 1.7em;
}

a
{
	color: #2395ff;
	-webkit-transition: color 0.1s linear;
	-moz-transition: color 0.1s linear;
	-o-transition: color 0.1s linear;
	transition: color 0.1s linear;
}

a:link
{
	color: #2d82dc;
}

a:hover
{
	color: #91caff;
}

a.MCBreadcrumbsLink
{
	font-style: italic;
	text-decoration: underline;
}

a.MCBreadcrumbsLink:visited
{
	color: #000000;
}

a.MCBreadcrumbsLink:hover
{
	color: #BED230;
}

div.example
{
	background-repeat: no-repeat;
	margin-bottom: 15px;
	padding: 20px;
	background-color: #f5f5f5;
	border: none 0px #000000;
}

/*div.ImagesFloatLeft
{
	clear: both;
	float: left;
	margin-right: 10px;
	padding: 5px;
}

div.ImagesFloatRight
{
	clear: both;
	float: right;
	margin-left: 10px;
	padding: 5px;
}*/

div.note
{
	background-color: #fff6cb;
	min-height: 20px;
	margin: 1em 0;
	position: relative;
	font-family: "AauxNext-Black-Web", Arial, Helvetica, sans-serif;
	padding: 15px 0px 15px 80px;
	color: #565656;
	clear: both;
}

div.note:before
{
	background-color: #fedc3f;
	content: " ";
	height: 100%;
	width: 60px;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	position: absolute;
	top: 0px;
	left: 0px;
	text-indent: -9999px;
	overflow: hidden;
	background-image: url('../Images/notices/paperclip.svg');
}

div.important
{
	background-color: #d8f6f8;
	min-height: 20px;
	margin: 1em 0;
	position: relative;
	font-family: "AauxNext-Black-Web", Arial, Helvetica, sans-serif;
	padding: 15px 0px 15px 80px;
	color: #565656;
	clear: both;
}

div.important:before
{
	background-color: #65dde6;
	content: " ";
	height: 100%;
	width: 60px;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	position: absolute;
	top: 0px;
	left: 0px;
	text-indent: -9999px;
	overflow: hidden;
	background-image: url('../Images/notices/timesaver.svg');
}

div.caution
{
	background-color: #fbd5d6;
	min-height: 20px;
	margin: 1em 0;
	position: relative;
	font-family: "AauxNext-Black-Web", Arial, Helvetica, sans-serif;
	padding: 15px 0px 15px 80px;
	color: #565656;
	clear: both;
}

div.caution:before
{
	background-color: #fdaa3e;
	content: " ";
	height: 100%;
	width: 60px;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	position: absolute;
	top: 0px;
	left: 0px;
	text-indent: -9999px;
	overflow: hidden;
	background-image: url('../Images/notices/caution.svg');
}

div.tip
{
	background-color: #daf7da;
	min-height: 20px;
	margin: 1em 0;
	position: relative;
	font-family: "AauxNext-Black-Web", Arial, Helvetica, sans-serif;
	padding: 15px 0px 15px 80px;
	color: #565656;
	clear: both;
}

div.tip:before
{
	background-color: #6de16c;
	content: " ";
	height: 100%;
	width: 60px;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	position: absolute;
	top: 0px;
	left: 0px;
	text-indent: -9999px;
	overflow: hidden;
	background-image: url('../Images/notices/tip.svg');
}

.noteInDiv
{
	mc-auto-number-format: '{b}Note: {/b}';
}

.importantInDiv
{
	mc-auto-number-format: '{b}Important: {/b}';
}

.cautionInDiv
{
	mc-auto-number-format: '{b}Caution: {/b}';
}

.tipInDiv
{
	mc-auto-number-format: '{b}Tip: {/b}';
}

/*.tipInDiv::before
{
	background-color: #6de16c;
	background-image: url('../Images/notices/tip.svg');
}*/

/*div.sideContent
{
	float: right;
	margin-left: 10px;
	margin-bottom: 10px;
	width: 33.33%;
	mc-hidden: hidden;
}

div.TightContent
{
	margin: 0;
	padding: 0;
	line-height: 1em;
	mc-hidden: hidden;
}*/

h1
{
	color: #006080;
	font: 3em / 3.125em "AauxNext-Regular-Web", Arial, Helvetica, sans-serif;
	/*margin-bottom: 8px;
	padding-bottom: 10px;
	margin-top: 30px;*/
}

h2
{
	color: #006080;
	font: 2.4em / 1.4em "AauxNext-Medium-Web", Arial, Helvetica, sans-serif;
	margin: 1.5em 0 0 0;
}

h3
{
	color: #006080;
	font: 1.3em / 1.4em "AauxNext-Medium-Web", Arial, Helvetica, sans-serif;
	margin: 1em 0 0.2em 0;
	mc-hidden: hidden;
}

h4
{
	color: #006080;
	font: 1em / 1.5em "AauxNext-Bold-Web", Arial, Helvetica, sans-serif;
	margin: 1.5em 0 0 0;
	opacity: 0.5;
	mc-hidden: hidden;
}

h5
{
	font: 0.875em / 1.25em "AauxNext-Regular-Web", Arial, Helvetica, sans-serif;
	mc-hidden: hidden;
}

h6
{
	font: 0.6875em / 1.125 "AauxNext-Regular-Web", Arial, Helvetica, sans-serif;
	mc-hidden: hidden;
}

img
{
	border: none;
	max-width: 600px;
}

img.Thumbnail
{
	mc-thumbnail: popup;
}

img.ReduceButtonSize
{
	max-height: 25px;
}

li
{
	orphans: 2;
	widows: 2;
	margin-bottom: 8px;
	margin-top: 8px;
}

MadCap|breadcrumbsProxy
{
	border-bottom: none;
	font-size: .7em;
	font-style: italic;
	mc-breadcrumbs-prefix: 'You are here: ';
}

MadCap|dropDown
{
	margin-bottom: 6px;
	margin-top: 6px;
	mc-closed-image: url('../Images/DropDownClosed.png');
	mc-open-image: url('../Images/DropDownOpen.png');
}

MadCap|dropDown.SecondLevel
{
	margin-left: 10px;
	mc-closed-image: url('../Images/DropDownClosedSecondLevel.png');
	mc-open-image: url('../Images/DropDownOpenSecondLevel.png');
}

MadCap|dropDownBody
{
	border-bottom: solid 1px #bed230;
}

MadCap|dropDownBody.Final
{
	border-bottom: 0px;
}

MadCap|dropDownHead
{
	
}

MadCap|dropDownHotspot
{
	color: #404040;
	font-size: 0.9em;
	font-weight: bold;
}

MadCap|dropDownHotspot:hover
{
	color: #BED230;
}

MadCap|popup
{
	color: #2D8DCC;
}

MadCap|popup:focus
{
	color: #2D8DCC;
}

MadCap|popup:hover
{
	color: #2D8DCC;
}

MadCap|popupHead
{
	color: #2D8DCC;
	font-weight: bold;
}

MadCap|xref
{
	color: #2D8DCC;
	font-weight: bold;
	mc-format: '{para}';
	text-decoration: underline;
}

MadCap|xref:hover
{
	color: #BED230;
}

ol
{
	list-style-image: none;
}

ol ol,
ul ol
{
	list-style-type: lower-alpha;
}

ol ol ol,
ol ul ol,
ul ol ol,
ul ul ol
{
	list-style-type: lower-roman;
}

p
{
	margin-bottom: 8px;
	margin-top: 8px;
}

p.ProcedureIntro
{
	font-weight: bold;
}

p.CompanyInformation1
{
	margin-bottom: 4px;
	margin-top: 14px;
	font-weight: bold;
	mc-hidden: hidden;
}

p.CompanyInformation2
{
	color: #6d6d6d;
	margin-top: 4px;
	margin-bottom: 4px;
	mc-hidden: hidden;
}

p.ExampleHeadText
{
	font-weight: bold;
	page-break-after: avoid;
	letter-spacing: 5px;
	padding: 0;
	margin: 0;
	border: 0;
	mc-hidden: hidden;
}

p.quotationname
{
	text-align: right;
	mc-hidden: hidden;
}

/*p.TableTextCenterDark
{
	color: #000000;
	margin-bottom: 2px;
	margin-top: 8px;
	text-align: center;
	mc-hidden: hidden;
}

p.TableTextDark
{
	color: #000000;
	margin-bottom: 2px;
	margin-top: 8px;
	mc-hidden: hidden;
}

p.TableTextDarkEmphasis
{
	color: #000000;
	font-weight: bold;
	margin-bottom: 2px;
	margin-top: 8px;
	mc-hidden: hidden;
}*/

span.Emphasis
{
	font-weight: bold;
}

span.SetOffFirstLevel
{
	color: #5e6914;
	font-weight: bold;
	mc-hidden: hidden;
}

span.SetOffSecondLevel
{
	color: #445879;
	font-weight: bold;
	mc-hidden: hidden;
}

td
{
	margin: 8px;
	vertical-align: top;
}

th
{
	/*color: #ffffff;*/
	margin-bottom: 8px;
	margin-top: 8px;
}

ul,
ul ul,
ol ul,
ul ul ul,
ol ol ul,
ol ul ul,
ul ol ul
{
	list-style: disc;
}

html.templateTopic div.sideContent
{
	display: none;
}

address
{
	mc-hidden: hidden;
}

fieldset
{
	mc-hidden: hidden;
}

a.logo
{
	width: 62px;
	height: 59px;
	background-size: 40px;
}

nav.tab-bar
{
	border-bottom: 1px solid #bbbbbb;
}

.tab-bar ul.navigation li
{
	border-left: 1px solid #dddddd;
}

.tab-bar ul.navigation li:last-of-type
{
	border-left: 1px solid #dddddd;
	border-right: 1px solid #dddddd;
}

footer
{
	border-top: 1px solid #dddddd;
}

div.footer-copyright
{
	font-size: .75em;
	text-transform: uppercase;
	float: right;
	display: inline-block;
	text-align: right;
}

div.sideContent
{
	float: left;
	width: 20%;
	margin-right: 5%;
}

div.mainContent
{
	float: left;
	width: 75%;
}

div.subnav
{
	height: 50px;
	border-bottom: 1px solid rgb(187, 187, 187);
}

div.footer
{
	border-top: 1px solid #dddddd;
	padding-top: 20px;
	padding-bottom: 100px;
}

